.gradle/
/bin/
/build/
/buildvirtual/
/.settings/
/Eclipse
/.classpath
/.project
/nbproject
/*.iml
/*.ipr
/*.iws
/*.ids
/*.sh
/.idea
/local.properties
/target/
/.ant-targets-build.xml
/gen-src
/*.bat
/publish.local.cmd
/libs/
/lib/
/out/
/test/test.iml
/odkl_pts_ejb.dat
*.DS_Store
